*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    padding: 1rem;
    background-color: #1b1b1b;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    background-color: white;
    width: 500px;
    border-radius: 1rem;
    padding: 1rem;

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-image{
    border-radius: 1rem;
}