*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    padding: 1rem;
    background-color: #1b1b1b;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
}

.card-container{
    background-color: white;
    width: 500px;
    border-radius: 1rem;
    padding: 1rem;
    height: 350px;

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-image{
    border-radius: 1rem;
}

.error-message{
    color:red;
}

.next-button{
    padding: 0.2rem 1.5rem;
    margin-top: 0.8rem;
}